:root {
  --red-default: #cb3a31;
  --red-pressed: #3d0e0a;
  --red-disabled: #f3bdb9;

  --blue-default: #386ade;
  --blue-pressed: #09225d;
  --blue-disabled: #d1ddfa;

  --yellow-default: #cdaa2e;
  --yellow-pressed: #6a5711;
  --yellow-disabled: #f4e7b8;

  --green-default: #3fab64;
  --green-pressed: #124022;
  --green-disabled: #b3eac6;

  --neutral-100: #363636;
  --neutral-90: #626262;
  --neutral-80: #7d7d7d;
  --neutral-70: #8e8e8e;
  --neutral-60: #afafaf;
  --neutral-50: #cdcdcd;
  --neutral-40: #e6e6e6;
  --neutral-30: #f0f0f0;
  --neutral-20: #f7f7f7;
  --neutral-10: #fcfcfc;
  --neutral-0: #ffffff;
}

body {
  background-color: var(--neutral-10) !important;
}
.app,
.mp-routing {
  /* height: 100vh;
  display: flex;
  flex-direction: column; */
}

.top,
.mp-routing {
  flex: 0;
  border-bottom: solid 1px var(--adm-border-color);
}

.body,
.mp-routing {
  flex: 1;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}

.bottom,
.mp-routing {
  flex: 0;
  border-top: solid 1px var(--adm-border-color);
}

.affix-button-submit {
  position: fixed;
  bottom: 0px;
  width: 100%;
  /* background-color: white; */
  /* right: 40px; */
  /* -webkit-box-shadow: 0 2px 4px 2px rgb(0 0 0 / 20%); */
  /* box-shadow: 0 2px 4px 2px rgb(0 0 0 / 20%); */
  /* background: transparent !important; */
  /* margin-left: 10px; */
  /* border-radius: 0.28571429rem; */
}
